@font-face {
    font-family: 'Macondo';
    src: url('https://fonts.googleapis.com/css?family=Macondo');
}

.bhudda-container {
    text-align: center;
}


body {
    background-color: lightcoral;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Macondo', sans-serif;
    margin-top: 0px;
    font-size: 84px;
}

img {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
    margin-left: 750px;
    margin-top: 300px;
    animation: idle 2s ease-in-out infinite;
}

@keyframes idle {
    0% {
        transform: translateY(0); /* Start position */
    }
    50% {
        transform: translateY(-10px); /* Peak position (adjust the value for desired height) */
    }
    100% {
        transform: translateY(0); /* End position */
    }
}

